.input_container {
    padding: 5px;
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

input {
    padding: 3px;
    color: #777777;
    margin: 5px 0px 5px 0px;
}
input[type= "text"] {
    width: 100%
}

input[type= "submit"] {
    background: #4aaaa5;
    color: #ffffff;
    font-size: 20px;
    padding: 10px;
    width: 120px;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

input[name="message"] {
    height: 200px;
}