.img_link {
    padding: 20px 20px 20px 0px;
}
.link_button{
    width: 260px;
    background: #4aaaa5;
    font-size: 25px;
    font-weight:bold;
    color: #ffffff;
    padding: 20px;
    text-align: center;
    z-index: 1;
    display: block;
    position: relative;
    bottom: 80px;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

.portfolio_link {
    float: left;
    width: 300px;
    height: 300px;
    padding: 20px 30px 20px 0px;
}